<template>
    <b-container fluid>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <div class="mb-2">
                <b-avatar icon="file-earmark-bar-graph"></b-avatar>
            </div>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item to="/">Utama</b-nav-item>
                <b-nav-item to="/daftar">Daftar</b-nav-item>
                <b-nav-item to="/pengguna">Pengguna</b-nav-item>
                <b-nav-item to="/login">Login</b-nav-item>
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </b-container>
</template>
