<template>
    <div>
      <b-container fluid>
          <b-row cols="1" cols-sm="2" cols-md="3" cols-lg="4">
              <b-col v-for="(item, id) in pengumuman" :key="id">
                  <b-card
                  :title="item.attributes.tajuk"
                  :img-src="baseurl + item.attributes.photo.data.attributes.url"
                  img-alt="Image"
                  img-top
                  tag="article"
                  style="max-width: 20rem;"
                  class="mb-2"
                  >
                      <b-card-text>
                      {{ item.attributes.maklumat }}
                      </b-card-text>
  
                      <b-button href="#" variant="primary">Lihat Semua</b-button>
                  </b-card>
              </b-col>
          </b-row>
      </b-container>
    </div>
  </template>
  
  <script>
  export default {
      name: 'Pengumuman',
      props: ['pengumuman'],
      data() {
          return {
              //baseurl: "http://localhost:1337"
              baseurl: this.$store.state.strapiurl,
          }
      },
  }
  </script>
