<template>
    <div>
      <b-container>
        <b-row class="justify-content-md-center">
          <b-col md="auto">
          <h1> Pendaftaran </h1>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
  
          <b-form-group id="input-group-1" label="Nama:" label-for="input-1">
              <b-form-input
              id="input-1"
              v-model="form.nama"
              placeholder="Masukkan nama anda"
              required
              ></b-form-input>
          </b-form-group>
  
          <b-form-group id="input-group-2" label="Emel :" label-for="input-2">
              <b-form-input
              id="input-2"
              v-model="form.email"
              type="email"
              placeholder="Masukkan emel anda"
              required
              ></b-form-input>
          </b-form-group>
  
          <b-form-group id="input-group-3" label="Alamat:" label-for="input-3">
              <b-form-input
              id="input-3"
              v-model="form.alamat"
              placeholder="Masukkan alamat anda"
              required
              ></b-form-input>
          </b-form-group>
  
          <b-form-group id="input-group-4" label="Daerah:" label-for="input-4">
              <b-form-select
              id="input-4"
              v-model="form.daerah"
              :options="daerah"
              required
              ></b-form-select>
          </b-form-group>
  
          <b-form-group id="input-group-5" label="Negeri:" label-for="input-5">
              <b-form-input
              id="input-3"
              v-model="form.negeri"
              placeholder="Masukkan negeri anda"
              required
              ></b-form-input>
          </b-form-group>
          <hr />
          <b-button type="submit" variant="primary">Hantar</b-button>&nbsp;
          <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
          <br>
          <span>{{ jawapan }}</span>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </template>
  
  <script>
    export default {
      head: {
          title: "Pendaftaran"
      },
      data() {
        return {
          form: {
            nama: '',
            email: '',
            alamat: '',
            daerah: null,
            negeri: ''
          },
          daerah: [{ text: 'Pilih daerah', value: null }, 'Johor Bahru', 'Kota Tinggi', 'Segamat'],
          show: true,
          jawapan: '',
          nodeurl: this.$store.state.nodeurl,
        }
      },
      methods: {
        onSubmit(event) {
          event.preventDefault()
          this.createAPI(this.form)
          //alert(JSON.stringify(this.form))
        },
        onReset(event) {
          event.preventDefault()
          // Reset our form values
          this.form.nama = ''
          this.form.email = ''
          this.form.alamat = ''
          this.form.daerah = null
          this.form.negeri = ''
          // Trick to reset/clear native browser form validation state
          this.show = false
          this.$nextTick(() => {
            this.show = true
          })
        },
        createAPI (inputData) {
          console.log('inputData :>> ', inputData);
          this.$axios.post(this.nodeurl + '/pengguna', inputData)
            .then(response => {
              this.jawapan = response.data
              console.log(response.data)
            })
            .catch(error => {
              console.log(error)
            })
        }
      }
    }
  </script>
  