<template>
  <b-container fluid>
    <b-jumbotron header="Salam Malaysia Madani!" lead="Portal Latihan Aplikasi Moden">
      <p>Untuk maklumat lanjut sila buat pendaftaran</p>
      <b-button variant="primary" href="#">Daftar</b-button>
    </b-jumbotron>
    <Pengumuman v-if="eventlist" :pengumuman="eventlist" />
  </b-container>
</template>
  
<script>
  export default {
    head: {
        title: "Latihan Nuxt.js"
    },
    data () {
      return {
        baseurl: this.$store.state.strapiurl,
        eventlist: null,
        jwt: this.$store.state.jwttoken,
        identifier: this.$store.state.identifier,
        katalaluan: this.$store.state.katalaluan
      }
    },
    mounted () {
      if (this.jwt==null) {
         this.initialize ()
      }
      else{
        this.getPengumuman();
      }
    },
    methods: {
      async initialize(){
        this.$axios.post(this.baseurl + '/api/auth/local', {
          identifier: this.identifier,
          password: this.katalaluan,
        })
        .then((response) => {
          this.$store.commit('setToken', response.data.jwt);
          this.jwt = this.$store.state.jwttoken
          this.getPengumuman();
        })
        .catch(error => {
          console.log(error)
        })
  
      },
      async getPengumuman() {
            this.$axios.setHeader('Authorization', 'Bearer ' + this.jwt)
            this.$axios.get(this.baseurl + '/api/pengumumen?populate=photo')
            .then(response => {
              this.eventlist = response.data.data
            })
            .catch(error => {
              console.log(error)
            })
      }
    },
  }
</script>
