<template>
    <div>
      <b-container>
        <b-row class="justify-content-md-center">
          <b-col md="auto">
          <h1> Login </h1>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
  
          <b-form-group
              id="input-group-1"
              label="Emel :"
              label-for="input-1"
              description="Emel mestilah emel yang sah"
          >
              <b-form-input
              id="input-1"
              v-model="form.emel"
              type="email"
              placeholder="Masukkan emel anda"
              required
              ></b-form-input>
          </b-form-group>
          <b-form-group 
              id="input-group-2" 
              label="Katalaluan:" 
              label-for="input-2"
          >
              <b-form-input
              id="input-2"
              v-model="form.katalaluan"
              type="password"
              placeholder="Masukkan katalaluan anda"
              required
              ></b-form-input>
          </b-form-group>
          <hr />
          <b-button type="submit" variant="primary">Login</b-button>&nbsp;
          <b-button type="reset" variant="danger">Reset</b-button>
          <hr />
          <NuxtLink to="/">Utama</NuxtLink>
          </b-form>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </template>
  
  <script>
    export default {
      head: {
          title: "Login"
      },
      layout: "TiadaNavBar",
      data() {
        return {
          form: {
            emel: '',
            katalaluan: '',
          },
          show: true,
        }
      },
      methods: {
        onSubmit(event) {
          event.preventDefault()
          alert(JSON.stringify(this.form))
        },
        onReset(event) {
          event.preventDefault()
          // Reset our form values
          this.form.emel = ''
          this.form.katalaluan = ''
          // Trick to reset/clear native browser form validation state
          this.show = false
          this.$nextTick(() => {
            this.show = true
          })
        }
      }
    }
  </script>
  