<template>
    <b-container fluid>
        <br>
        <b-row>
            <b-col>
                <h2>Senarai Pengguna</h2>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="auto">
                <b-form-group
                label="Carian"
                label-for="filter-input"
                label-cols-sm="3"
                label-align-sm="right"
                label-size="sm"
                class="mb-0"
                >
                <b-input-group size="sm">
                    <b-form-input
                    id="filter-input"
                    v-model="filter"
                    type="search"
                    placeholder="Buat carian"
                    ></b-form-input>

                    <b-input-group-append>
                    <b-button :disabled="!filter" @click="filter = ''">Padam</b-button>
                    </b-input-group-append>
                </b-input-group>
                </b-form-group>
                <download-excel
                    class="btn btn-default"
                    :data="penggunalist"
                    worksheet="pengguna"
                    name="pengguna.xls"
                    >
                    <b-icon icon="file-earmark-excel-fill" aria-label="Excel"></b-icon>Ekspot ke Excel
                </download-excel>
                <b-button @click="exportPDF()" variant="primary" size="sm">
                    <b-icon icon="file-earmark" aria-label="Export PDF"></b-icon>Ekspot ke PDF
                </b-button>
            </b-col>
        </b-row>
            
        <hr/>
        <b-row>
            <b-col>
                <b-table 
                    striped
                    hover
                    :items="penggunalist"
                    :fields="field"
                    :filter="filter"
                    :filter-included-fields="filterOn"
                    :current-page="currentPage"
                    :per-page="perPage"
                    >

                    <template #cell(Actions)="row">
                        <b-button @click="showUpdate(row.item)" variant="primary" size="sm">
                            <b-icon icon="pencil-square" aria-label="Help"></b-icon>
                        </b-button>
                        <b-button @click="showDelete(row.item)" variant="danger" size="sm">
                            <b-icon icon="trash-fill" aria-label="Help"></b-icon>
                        </b-button>
                    </template>
                </b-table>
                <template>
                    <b-modal
                        id="update-modal"
                        ref="updateShow"
                        title="Kemaskini Data"
                        hide-footer
                    >
                    <b-form @submit="onSubmit" @reset="onReset">

                        <b-form-group id="input-group-1" label="Nama:" label-for="input-1">
                            <b-form-input
                            id="input-1"
                            v-model="form.nama"
                            disabled
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-2" label="Emel :" label-for="input-2">
                            <b-form-input
                            id="input-2"
                            v-model="form.email"
                            type="email"
                            placeholder="Masukkan emel anda"
                            required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-3" label="Alamat:" label-for="input-3">
                            <b-form-input
                            id="input-3"
                            v-model="form.alamat"
                            placeholder="Masukkan alamat anda"
                            required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-4" label="Daerah:" label-for="input-4">
                            <b-form-input
                            id="input-4"
                            v-model="form.daerah"
                            placeholder="Masukkan daerah anda"
                            required
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-5" label="Negeri:" label-for="input-5">
                            <b-form-input
                            id="input-5"
                            v-model="form.negeri"
                            placeholder="Masukkan negeri anda"
                            required
                            ></b-form-input>
                        </b-form-group>
                        <hr />
                        <b-button type="submit" variant="primary">Hantar</b-button>&nbsp;
                        <b-button type="reset" variant="danger">Reset</b-button>
                        <b-button type="button" @click="tutup()">Tutup</b-button>
                        </b-form>
                    </b-modal>
                </template>
            </b-col>
        </b-row>
        <b-row>
            <b-col sm="5" md="6" class="my-1">
                <b-form-group
                label="Per page"
                label-for="per-page-select"
                label-cols-sm="6"
                label-cols-md="4"
                label-cols-lg="3"
                label-align-sm="right"
                label-size="sm"
                class="mb-0"
                >
                <b-form-select
                    id="per-page-select"
                    v-model="perPage"
                    :options="pageOptions"
                    size="sm"
                ></b-form-select>
                </b-form-group>
            </b-col>

            <b-col sm="7" md="6" class="my-1">
                <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
                ></b-pagination>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import Vue from "vue";
    import JsonExcel from "vue-json-excel";
    import jsPDF from 'jspdf'
    import 'jspdf-autotable'
    import { Table } from 'jspdf-autotable';

    const doc = new jsPDF()
 
    Vue.component("downloadExcel", JsonExcel);
    export default {
        head: {
            title: "Pengguna"
        },
        data() {
            return {
                nodeurl: this.$store.state.nodeurl,
                penggunalist: [],
                field: ['id', 'nama', 'email', 'alamat','daerah','negeri','Actions'],
                deleteFlag: '',
                selectedID: 0,
                updateShow: false,
                form: {
                    nama: '',
                    email: '',
                    alamat: '',
                    daerah: '',
                    negeri: ''
                },
                filter: null,
                filterOn: [],
                tablelist: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 2,
                pageOptions: [2, 5, 10, { value: 100, text: "Lihat Semua" }],
            }
        },
        mounted () {
            this.getPengguna();
        },
        methods: {
            getPengguna() {
                this.$axios.get(this.nodeurl + '/pengguna')
                .then(response => {
                    this.penggunalist = response.data
                    // console.log(this.penggunalist)
                    // console.log('length :>> ', this.penggunalist.length);
                    this.totalRows = this.penggunalist.length
                })
                .catch(error => {
                    console.log(error)
                })
            },
            onSubmit(event) {
                event.preventDefault()
                this.updatePengguna()
                this.$refs['updateShow'].hide()
            },
            onReset(event) {
                event.preventDefault()
                // Reset our form values
                this.form.email = ''
                this.form.alamat = ''
                this.form.daerah = ''
                this.form.negeri = ''
            },
            tutup(){
                this.$refs['updateShow'].hide()
            },
            showUpdate(selecteditem){
                this.selectedID = selecteditem.id
                console.log('this.selectedID :>> ', this.selectedID);
                this.form.nama = selecteditem.nama
                this.form.email = selecteditem.email
                this.form.alamat = selecteditem.alamat
                this.form.daerah = selecteditem.daerah
                this.form.negeri = selecteditem.negeri
                this.$refs['updateShow'].show()

            },
            showDelete(selecteditem) {
                console.log('selecteditem :>> ', selecteditem);
                this.deleteFlag = ''
                this.$bvModal.msgBoxConfirm('Adakah anda pasti untuk padam data ini?')
                .then(value => {
                    this.deleteFlag = value
                    console.log(this.deleteFlag);
                    if (this.deleteFlag) {
                        this.deletePengguna(selecteditem.id)
                    }
                })
                .catch(err => {
                    // An error occurred
                })
            },
            updatePengguna(){
                let itemData = {
                    email: this.form.email,
                    alamat: this.form.alamat,
                    daerah: this.form.daerah,
                    negeri: this.form.negeri
                }
                console.log(itemData);
                this.$axios.put(this.nodeurl +'/pengguna/' + this.selectedID, itemData)
                .then(response => {
                    const jawapan = response.data
                    console.log(jawapan)
                    this.$axios.get(this.nodeurl + '/pengguna')
                    .then(response => {
                        this.penggunalist = response.data
                        console.log(this.penggunalist)
                    })
                    .catch(error => {
                        console.log(error)
                    })
                })
                .catch(error => {
                    console.log(error)
                })
            },
            deletePengguna(itemID) {
                this.$axios.delete(this.nodeurl + '/pengguna/' + itemID)
                .then(response => {
                    const jawapan = response.data
                    console.log(jawapan)
                    this.$axios.get(this.nodeurl + '/pengguna')
                    .then(response => {
                        this.penggunalist = response.data
                        console.log(this.penggunalist)
                    })
                    .catch(error => {
                        console.log(error)
                    })
                })
                .catch(error => {
                    console.log(error)
                })
            },
            exportPDF(){
                this.getArray()
                console.log('table :>> ', this.tablelist);
                doc.autoTable({
                head: [['Id', 'Nama', 'Email','Alamat','Daerah','Negeri']],
                body: this.tablelist
                })

                doc.save('table.pdf')
            },
            getArray(){
                const senarai = this.penggunalist
                for (const key in senarai) {
                    this.tablelist.push([senarai[key].id,senarai[key].nama,senarai[key].email,senarai[key].alamat,senarai[key].daerah,senarai[key].negeri])
                }
            }
        },
    }

</script>

<style lang="scss" scoped>

</style>
